* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: block;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

#logo {
    width: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#logo img {
    width: 105px;
    height: 65px;
}

#header-center {
    width: 60%;
}

#header-center h1 {
    font-size: 28px;
    text-align: left;
}

#menu {
    width: 25%;
}

#menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

#menu ul li a:hover {
    color: red;
}

#destaque {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

.lista-carros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.lista-carros li {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 17%;
    text-align: center;
}

.lista-carros img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.lista-carros strong {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

#rodape {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

#infor h1 {
    font-size: 20px;
}

#infor p {
    margin-top: 10px;
    font-size: 14px;
}

#social-icons {
    display: flex;
    gap: 15px;
}

#social-icons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

#social-icons a:hover {
    color: red;
}
/*****SOBRE*****/
#sobre {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

#sobre h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: red;
    padding-bottom: 5px;
    margin-top: 40px;
}

#sobre p {
    font-size: 1.05rem;
    margin-bottom: 20px;
    text-align: justify;
    color: black;
}